<!DOCTYPE html>
<html>

<head>
    <!-- Every page head section -->
    <%- include('./partials/headSection.ejs') %>
</head>

<body>
    <div class="main-area">
        <header class="header">
            <!-- Every page Nav Bar.  Depends if the user is registered or not. -->
            <% if(!user) { %>
                <%- include('./partials/newHeader.ejs')%>
                    <% } else { %>
                        <%- include('./partials/userHeader.ejs') %>
                            <% } %>

        </header>
        <div class='wrapper'>
            <div class="movies">
                <!-- Takes the movie data from the array passed from the favorites module in movies.js and renders each movie.. -->
                <% if(movies != null && movies.length != 0){ %>
                    <% movies.forEach(function(movie ,index) { %>
                        <div class="movie_card">
                            <div class="main-poster">
                                <a href="/movie/<%- movie.imdbID %>">
                    <img src="<%- movie.Poster %>" alt="<%- movie.Title  %>">
                </a>
                            </div>
                            <h2>
                                <%- movie.Title  %>
                            </h2>
                            <p>
                                <b>Released:</b>
                                <%- movie.Year%>
                            </p>

                            <div class="like">
                                <!-- Giving the user the ability to like/dislike a movie unless not registered. -->
                                <% if(!user){%>
                                    <button class="like_btn"><img src="/img/unlike.png" alt='Click to like' onclick='non_user()'></button>
                                    <%  } else if(user && movie.userfav == '0') { %>
                                        <button type="button" class="like_btn" id='tolike'><img  id=<%- movie.imdbID%> src="/img/unlike.png" alt='Click to like' onclick='like(<%- movie.imdbID %>, <%- user.Userid %>, this.parentNode.id)'></button>
                                        <%  } else if(user && movie.userfav == '1') {%>
                                            <button type="button" class="like_btn" id='tounlike'><img id=<%- movie.imdbID%> src="/img/like.png" alt='Click to unlike'  onclick='like(<%- movie.imdbID %>, <%- user.Userid %>, this.parentNode.id)'></button>
                                            <% } %>
                            </div>

                        </div>
                        <% }) %>
                            <% } else { %>
                                <h2 class="no-favs">Looks like you haven't added any movies to your Favorites yet!</h2>
                                <% } %>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
        <script src='/js/script.js'></script>
</body>

</html>